.authentication-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/login-img.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .authentication-bg .auth-logo .logo {
    margin: 0px auto; }
  .authentication-bg .auth-logo .auth-logo-light {
    display: none;
    margin: 0px auto; }
  .authentication-bg .auth-logo .auth-logo-dark {
    margin: 0px auto; }
  .authentication-bg .bg-overlay {
    opacity: 0.85; }
  .authentication-bg .auth-cover-card .authentication-bg {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .authentication-bg .auth-cover-card .bg-overlay {
    opacity: 0.6; }
  .authentication-bg .auth-cover-card .form-floating label {
    color: rgba(255, 255, 255, 0.5); }
  .authentication-bg .auth-cover-card .form-floating .form-control {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
    color: #fff; }
  .authentication-bg .auth-cover-card .form-floating .form-floating-icon {
    color: rgba(255, 255, 255, 0.5); }
